<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Squirrel Details</title>
</head>
<body>
    <ul>
        <li>The longtitude of this squirrel: {{ squirrel.Longtitude }}</li>
        <li>The latitude of this squirrel: {{ squirrel.Latitude }}</li>
        <li>The unique ID of this squirrel: {{ squirrel.Unique_Squirrel_ID }}</li>
        <li>The time shift of this squirrel: {{ squirrel.Shift }}</li>
        <li>The date this squirrel is seen: {{ squirrel.Date }}</li>
        <li>The aopsge of this squirrel: {{ squirrel.Age }}</li>
    </ul>

</body>
</html>