<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>General Statistics of Squirrels</title>
</head>
<body>
    <ul>
        <li>Average number of squirrels in one hectare: {{ avg_hectare_squirrel_number }}</li>
        <li>Most common primary fur color of squirrels: {{ main_color }} </li>
        <li>Percentage of squirrel that appears in the morning: {{ percent_AM }} % </li>
        <li>Percentage of squirrel that appears are adult: {{ percent_adult }} % </li>
        <li>Percentage of squirrel that lives above ground: {{ percent_above }} % </li>
    </ul>

</body>
</html>